{% extends "base_student.html" %} {% block title %}Home{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="leftcolumn" style="background-color: #c0c0c0;">
            <center style="padding-top: 20px;"><img src="{{ image }}" style="width: 50%; border-radius: 50%;"></center>
            <h3 style="padding-top: 10px; padding-left: 10px;"><b>ยินดีต้อนรับ</b><br />คุณ{{ result.student_nameTH }}</h3>
        </div>
        <div class="rightcolumn">
            <div class="card card1" style="padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
                <h3 style="margin: 4px 6px; padding-bottom: 9px;"><b>ข้อมูลส่วนตัว</b></h3>
                <p style="padding-left: 5px;"><b>รหัส: {{ result.student_id }}</b></p>
                <p style="padding-left: 5px;"><b>ชื่อ: {{ result.student_nameTH }}</b></p>
                <p style="padding-left: 5px;"><b>ชื่อ (อังกฤษ): {{ result.student_nameEN }}</b></p>
                <p style="padding-left: 5px;"><b>เพศ: {{ gender }}</b></p>
                {% if result.program_id == 'DSI' %}
                <p style="padding-left: 5px;"><b>หลักสูตร: วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาศาสตร์และนวัตกรรมข้อมูล</b></p>
                {% elif result.program_id == 'PPE' %}
                <p style="padding-left: 5px;"><b>หลักสูตร: ศิลปศาสตรบัณฑิต สาขาวิชาปรัชญา การเมือง และเศรษฐศาสตร์</b></p>
                {% else %}
                <p style="padding-left: 5px;"><b>หลักสูตร: ศิลปศาสตร์บัณฑิต สาขาวิชาสหวิทยาการสังคมศาสตร์</b></p>
                {% endif %}
                <p style="padding-left: 5px;"><b>อีเมล: {{ result.student_email }}</b></p>
                <p style="padding-left: 5px;"><b>เบอร์โทร: {{ result.student_phonenum }}</b></p>
                <p style="padding-left: 5px;"><b>ปีที่เข้ารับการศึกษา: {{ result.start_year }}</b></p>
                <p style="padding-left: 5px;"><b>ปีที่คาดว่าจบการศึกษา: {{ result.expected_grad }}</b></p>
                <br />
                <form action="{{ url_for('views.student_edit_info') }}">
                    <button class="button button-edit">แก้ไข</button>
                </form>
                
            </div>
            <br />
        </div> 
    </div>
</div>

{% endblock %}