version: "3.7"
services:
  web:
    build: ./web/.
    ports:
      - "5000:5000"
    volumes:
      - ./web/.:/code
    environment:
      FLASK_ENV: development
    links:
      - mysql 
      
  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: fordzaa55
      MYSQL_DB: curriculum_dataset
    volumes:
      - ./Data.sql:/docker-entrypoint-initdb.d/:ro
