version: "3.7"
services:
  web:
    build: ./ccstu/.
    ports:
      - 5000:5000
    volumes:
      - ./ccstu/.:/code
    environment:
      FLASK_ENV: development
  redis:
    image: "redis:alpine"
