version: "3.7"
services:
  web:
    build: ./ccstu/.
    ports:
      - 5000:5000
    volumes:
      - ./ccstu/.:/code
    environment:
      FLASK_ENV: development
    depends_on:
      - db
  redis:
    image: "redis:alpine"
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=patipan_sher43
      - POSTGRES_PASSWORD=ccs_tu2022
      - POSTGRES_DB=ccs
      
volumes:
  postgres_data:
