{% extends "base_de.html" %} {% block title %}Overall{% endblock %}

{% block content %}
<h3 align="center" style="padding-top: 20px;">แสดงภาพรวมของ</h3>
<div class="form-group">
    <center><select name="overall-choose" id="overall" style="width:400px; background-color: white; border-radius: 10%;">
        <option value="overall1">นักศึกษาที่จะเรียนจบการศึกษา</option>
        <option value="overall2">นักศึกษาในแต่ละหลักสูตร</option>
        <option value="overall3">นักศึกษาที่มีปัญหาการลงทะเบียนเรียน</option>
      </select></center>
</div>
{% endblock %}