{% extends "base_student.html" %} {% block title %}Home{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="leftcolumn" style="background-color: #c0c0c0;">
            <center style="padding-top: 10px;"><img src="/static/PIC-ปฏิภาณ.png" style="width: 50%; height: auto;  box-shadow: 5px 5px 3px;"></center>
        </div>
        <div class="rightcolumn">
            <div class="card card1">
                <h3 style="margin: 4px 6px; padding-bottom: 9px;"><b>ข้อมูลส่วนตัว</b></h3>
                <p style="padding-left: 5px;"><b>รหัส: </b></p>
                <p style="padding-left: 5px;"><b>ชื่อ: </b></p>
                <p style="padding-left: 5px;"><b>ชื่อ (อังกฤษ): </b></p>
                <p style="padding-left: 5px;"><b>เพศ: </b></p>
                <p style="padding-left: 5px;"><b>หลักสูตร: </b></p>
                <p style="padding-left: 5px;"><b>อีเมล: </b></p>
                <p style="padding-left: 5px;"><b>เบอร์โทร: </b></p>
                <p style="padding-left: 5px;"><b>ปีที่เข้ารับการศึกษา: </b></p>
                <p style="padding-left: 5px;"><b>ปีที่คาดว่าจบการศึกษา: </b></p>
            </div>
            <br />
        </div> 
    </div>
</div>

{% endblock %}